/*
 * Copyright (c) 2025 Kacper Brzostowski
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/dts-v1/;
#include <st/h5/stm32h562Xg.dtsi>
#include <st/h5/stm32h562vgtx-pinctrl.dtsi>
#include <zephyr/dt-bindings/input/input-event-codes.h>

/ {
	model = "Manikin STM32H5 Micromod Board";
	compatible = "manikin,stm32h5-micromod";

	chosen {
		zephyr,console = &usart1;
		zephyr,shell-uart = &usart1;
		zephyr,code-partition = &slot0_partition;
		zephyr,sram = &sram1;
		zephyr,flash = &flash0;
	};

	aliases {
		led0 = &led_0;
		watchdog0 = &iwdg;
	};

	leds {
		compatible = "gpio-leds";

		led_0: led0 {
			gpios = <&gpioe 0 GPIO_ACTIVE_HIGH>;
			label = "User LED";
		};
	};
};

&sdmmc1 {
	pinctrl-0 = <&sdmmc1_d0_pc8 &sdmmc1_d1_pc9
				&sdmmc1_d2_pc10 &sdmmc1_d3_pc11
				&sdmmc1_ck_pc12 &sdmmc1_cmd_pd2>;
	pinctrl-names = "default";
	cd-gpios = <&gpioa 8 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;
	status = "okay";
	airoc-wifi {
      status = "okay";
      compatible = "infineon,airoc-wifi";

      /* Wi-Fi control gpios */
      wifi-reg-on-gpios    = <&gpiob 12 GPIO_ACTIVE_HIGH>;
      wifi-host-wake-gpios = <&gpiod 3 GPIO_ACTIVE_HIGH>;
    };
};


&clk_lsi {
	status = "okay";
};

&clk_lse {
    clock-frequency = <32768>;
    driving-capability = <2>;  /* 0=low, 1=medium-low, 2=medium-high, 3=high */
    status = "okay";
};

&clk_hsi {
	status = "okay";
};

&clk_hse {
	status = "disabled";
};

&rcc {
	clocks = <&pll>;
	clock-frequency = <DT_FREQ_M(240)>;
	ahb-prescaler = <1>;
	apb1-prescaler = <2>;
	apb2-prescaler = <1>;
	apb3-prescaler = <1>;
};

&pll {
    div-m = <4>;    /* 64 MHz / 4 = 16 MHz VCO input */
    mul-n = <30>;   /* 16 MHz × 30 = 480 MHz VCO */
    div-p = <2>;    /* 480 MHz / 2 = 240 MHz SYSCLK */
    div-q = <2>;    /* 480 MHz / 2 = 240 MHz */
    div-r = <2>;    /* 480 MHz / 2 = 240 MHz */
    clocks = <&clk_hsi>;
    status = "okay";
};

&rtc {
	clocks = <&rcc STM32_CLOCK_BUS_APB3 0x00200000>,
			<&rcc STM32_SRC_LSE RTC_SEL(1)>;
	status = "okay";
};

stm32_lp_tick_source: &lptim4 {
	clocks = <&rcc STM32_CLOCK_BUS_APB3 0x2000>,
			<&rcc STM32_SRC_LSI LPTIM4_SEL(4)>;
	status = "okay";
};

&iwdg {
	status = "okay";
};

&usart1 {
	status = "disabled";
	pinctrl-0 = <&usart1_tx_pa9 &usart1_rx_pa10>;
	pinctrl-names = "default";
	current-speed = <115200>;
};

&usart3{
	status = "disabled";
	pinctrl-0 = <&usart3_tx_pd8 &usart3_rx_pd9 &usart3_cts_pb13 &usart3_rts_pd12 >;
	pinctrl-names = "default";
	current-speed = <115200>;
};

&usart6{
	status = "disabled";
	pinctrl-0 = <&usart6_tx_pc6 &usart6_rx_pc7>;
	pinctrl-names = "default";
	current-speed = <115200>;
};

&uart7{
	status = "disabled";
	pinctrl-0 = <&uart7_tx_pe8 &uart7_rx_pe7  &uart7_cts_pe10 &uart7_rts_pe9>;
	pinctrl-names = "default";
	current-speed = <115200>;
	hw-flow-control;
 
	 bt_hci_uart: bt_hci_uart {
		 compatible = "zephyr,bt-hci-uart";
		 status = "disabled";
 
		 murata-1yn {
			 compatible = "infineon,cyw43xxx-bt-hci";
			 bt-reg-on-gpios = <&gpioa 1 GPIO_ACTIVE_HIGH>;
			 bt-host-wake-gpios = <&gpioa 2 GPIO_ACTIVE_HIGH>;
			 bt-dev-wake-gpios = <&gpioe 15 GPIO_ACTIVE_HIGH>;
		 };
	 };
 };


&rng {
	status = "okay";
};

&i2c1 {
	status = "disabled";
	pinctrl-0 = <&i2c1_scl_pb6 &i2c1_sda_pb7>;
	pinctrl-names = "default";
};

&i2c4 {
	status = "disabled";
	pinctrl-0 = <&i2c4_scl_pb8 &i2c4_sda_pb9>;
	pinctrl-names = "default";
};

&spi4 {
	pinctrl-0 = <&spi4_sck_pe12 &spi4_miso_pe13 &spi4_mosi_pe14>;
	pinctrl-names = "default";
	status = "disabled";
};

&spi2 {
	pinctrl-0 = <&spi2_sck_pb10 &spi2_miso_pc2 &spi2_mosi_pc1>;
	pinctrl-names = "default";
	status = "disabled";
};

&i2s1 {
	pinctrl-0 = <&i2s1_ws_pa4 &i2s1_ck_pa5>;
	pinctrl-names = "default";
	status = "disabled";
};

&fdcan1 {
	pinctrl-0 = <&fdcan1_rx_pd0 &fdcan1_tx_pd1>;
	pinctrl-names = "default";
	clocks = <&rcc STM32_CLOCK_BUS_APB1_2 0x00000200>,
		<&rcc STM32_SRC_PLL1_Q FDCAN_SEL(1)>;
	clk-divider = <2>;
	status = "okay";
};

zephyr_udc0: &usb {
	pinctrl-0 = <&usb_dm_pa11 &usb_dp_pa12>;
	pinctrl-names = "default";
	status = "okay";
};

&flash0 {
	partitions {
		compatible = "fixed-partitions";

		#address-cells = <1>;
		#size-cells = <1>;

		boot_partition: partition@0 {
			label = "mcuboot";
			reg = <0x00000000 DT_SIZE_K(64)>;
		};

		slot0_partition: partition@10000 {
			label = "image-0";
			reg = <0x00010000 DT_SIZE_K(448)>;
		};

		slot1_partition: partition@80000 {
			label = "image-1";
			reg = <0x00080000 DT_SIZE_K(448)>;
		};

		storage_partition: partition@f0000 {
			label = "storage";
			reg = <0x000f0000 DT_SIZE_K(64)>;
		};
	};
};
